rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in ['jareerink@gmail.com'];
    }

    match /projects/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /pages/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
